// Colors
$black: #000000;
$dark: #181818;
$black-checkbox: #1C1F22;
$black-light: #212121;
$dark-light: #2B2B2B;
$gray-dark: #333B42;
$outline: #333333;
$gray: #898989;
$gray-light: #C7CBCC;
$light: #FFFFFF;
$light-blink: #F4F4F4;
$light-button: #F2F5F7;
$green-transparent: #E3EFE8;
$red-transparent: #F9E2E2;
$red: #C60000;
$red-light: #E41E1E;
$tomato: #FA556D;
$diez: #FF3131;
$orange: #FF6431;
$purple-dark: #23207C;
$purple-light: #5D3A8E;
$purple: #3D3D9E;
$purple-colored: #4744B0;
$green-light: #54A898;
$green: #27AE60;
$blue: #4058AF;

$border-gradient: #0042E5 #D22BB4 #FFCC53;

// Fonts
$font-main: 'Manrope', sans-serif;
$font-digital: 'DigitalNumbers', sans-serif;

// Media
$mobile: 1529;
